All.html
<input type="text" ng-model="search" class="search-query" placeholder="Search">
<table>
  <thead>
  <tr>
    <th>Resource ID</th>
    <th>Description</th>
    <th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="id in resources | filter:search | orderBy:'name'">
    <td><a href="#/{{id.id}}" target="_blank">{{id.id}}</a></td>
    <td>{{id.name}}</td>
    <td>
      <a href="#/edit/{{project._id.$oid}}"><i class="icon-pencil"></i></a>
    </td>
  </tr>
  </tbody>
</table>